<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dynamic Ports</title>
<meta name="description" content="Nodes with varying lists of ports on each of four sides." />
<!-- Copyright 1998-2018 by Northwoods Software Corporation. -->
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datainspector.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/drawnodes.css') }}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<script src="{{ url_for('static', filename='js/go-debug.js') }}"></script>
<script src="{{ url_for('static', filename='js/drawnodes.js') }}"></script>
<script src="{{ url_for('static', filename='js/datainspector.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript">
  // Save the model to / load it from JSON text shown on the page itself, not in a database.
  function save() {
    $.ajax({
      type: "POST",
      url: "/receiveJSON",
      data: myDiagram.model.toJson(),
      contentType: "application/json; charset=UTF-8",
      dataType: "json",
      success: function() {
        myDiagram.isModified = false;
      },
      error: function() {
          console.log(error);
      }
    });
  }

  function load() {
    $.ajax({
      type: "GET",
      url: "/getJSON",
      dataType: "json",
      success: function(data) {
        myDiagram.model = go.Model.fromJson(data);
      }
    });
  }
</script>
</head>
<body onload="load(); init();">
<div id="sample">
  <div id="myDiagramDiv" style="height:75vh; width:60vw; margin: auto;"></div>
  <div id="infoDraggable" class="draggable" style="display: inline-block; vertical-align: top; padding: 5px; top: 20px; left: 380px;">
    <div id="infoDraggableHandle" class="handle">Info</div>
    <div>
    <div id="myInfo"></div>
    </div>
  </div> 
  <div>
    <button id="SaveButton" onclick="save()">Save</button>
    <button onclick="load()">Load</button>
  </div>
</div>
</body>
</html>
